<form (ngSubmit)="addProducto()">
  <mat-form-field appearance="outline">
    <mat-label>Nombre</mat-label>
    <input matInput type="text" [(ngModel)]="nuevoProducto.name" name="name" required>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Precio</mat-label>
    <input matInput type="number" [(ngModel)]="nuevoProducto.precio" name="precio" required>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>URL de la imagen</mat-label>
    <input matInput type="text" [(ngModel)]="nuevoProducto.url" name="url" required>
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit">Añadir Producto</button>
</form>

<ng-container *ngIf="productos.length > 0; else noData">
  <mat-card *ngFor="let producto of productos" class="producto-card">
    <mat-card-header>
      <mat-card-title>{{ producto.name }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>Precio: {{ producto.precio | currency }}</p>
      <img [src]="producto.url" alt="{{ producto.name }}" width="100">
    </mat-card-content>
  </mat-card>
</ng-container>

<ng-template #noData>
  <p>No hay productos disponibles.</p>
</ng-template>